@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,div{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none;color:#1181ff}
a:hover{text-decoration:none;color:#f60}
a:focus{outline:0;-moz-outline:0}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img,a{border:0 none;outline:0 none}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
input,textarea,select{outline:0}
input:-moz-placeholder,textarea:-moz-placeholder{color:#999}
input::-moz-placeholder,textarea::-moz-placeholder{color:#999}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999}
abbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,figcaption,footer,header,mark,menu,meter,nav,output,progress,section,time{display:block;height:auto}
textarea{resize:none}
::-ms-reveal{display:none}
::-ms-reveal{display:none}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
*html .clearfix{height:1%}
.clearfix{display:block}
body,html{height:100%;background:#f3f3f3;color:#333;font-family:'Microsoft YaHei','SimSun'}
body{overflow-x:hidden}
.d_main{width:980px;margin:40px auto 0;position:relative;z-index:9;padding-bottom:100px}
.d_main .d_mainLeft{width:680px;float:left;_display:inline}
.d_main .d_mainRight{width:280px;float:right;_display:inline}
.positionIconC,.ok_icon,.err_icon,.right_iconB,.icon_z,.icon_y,.good_icon,.img_icon,.chilia_icon,.chilib_icon,.dropUp_icon,.QQ_icon,.WB_icon,.WX_icon,.eye_icon,.tabMask_icon_a,.tabMask_icon_b,.tabMask_icon_c,.tabMask_icon_d,.tabMask_icon_e,.dropDown_icon,.set_icon,.QQ_iconB,.WB_iconB,.WX_iconB,.xy_icon,.user_icon,.password_icon,.positionIconA,.right_icon,.ui-state-default,.seach_btn_icon,.positionIconB,.select h3 .selectBtn,.com-face_icon,.com-pic_icon,.starOff,.starOn,.closeUpload,.delIconS,.seach_btn_iconB{background:url("../images/icon.png") no-repeat;overflow:hidden;display:inline-block;position:relative;z-index:9}
.QQ_icon,.WB_icon,.WX_icon{height:35px;top:2px}
.QQ_icon{background-position:-163px -93px;width:26px}
.WB_icon{background-position:-190px -93px;width:38px}
.WX_icon{background-position:-229px -93px;width:37px}
.eye_icon{background-position:-275px -47px;width:36px;height:20px}
.tabMask_icon_a{width:25px;height:22px;background-position:-18px -101px}
.tabMask_icon_b{width:23px;height:22px;background-position:-45px -101px}
.tabMask_icon_c{width:20px;height:23px;background-position:-250px -28px}
.tabMask_icon_d{width:23px;height:19px;background-position:-114px -103px}
.tabMask_icon_e{width:24px;height:19px;background-position:-138px -103px}
.dropDown_icon{width:16px;height:10px;background-position:-345px -17px}
.dropUp_icon{width:16px;height:10px;background-position:-345px 0}
.set_icon{width:21px;height:21px;background-position:-91px -103px}
.QQ_iconB{width:43px;height:51px;background-position:-101px 0}
.WB_iconB{width:61px;height:51px;background-position:-101px -52px}
.WX_iconB{width:61px;height:51px;background-position:-145px 0}
.xy_icon{width:10px;height:12px;background-position:-328px -85px}
.user_icon{width:20px;height:22px;background-position:-70px -101px}
.password_icon{width:17px;height:22px;background-position:0 -101px}
.positionIconA{width:10px;height:15px;background-position:-328px 0}
.right_icon{width:100px;height:100px;background-position:0 0}
.ui-state-default{width:25px;height:25px;background-position:-248px -54px}
.seach_btn_icon{width:19px;height:19px;background-position:-287px 0}
.positionIconB{width:22px;height:30px;background-position:-195px -51px}
.select h3 .selectBtn{width:17px;height:19px;background-position:-267px -105px}
.com-face_icon{width:16px;height:16px;background-position:-328px -17px}
.com-pic_icon{width:15px;height:16px;background-position:-328px -34px}
.starOff,.starOn{width:17px;height:15px}
.starOff{background-position:-310px -84px}
.starOn{background-position:-310px -68px}
.closeUpload{width:15px;height:15px;background-position:-328px -51px}
.chilia_icon{width:17px;height:16px;background-position:-306px 0}
.chilib_icon{width:17px;height:16px;background-position:-309px -17px}
.img_icon{width:16px;height:16px;background-position:-328px -102px}
.good_icon{width:16px;height:17px;background-position:-292px -68px}
.icon_z{width:17px;height:17px;background-position:-304px -104px}
.icon_y{width:17px;height:17px;background-position:-292px -86px}
.right_iconB{width:16px;height:16px;background-position:-285px -105px}
.ok_icon{width:30px;height:30px;background-position:-207px 0}
.err_icon{width:30px;height:30px;background-position:-217px -62px}
.positionIconC{width:21px;height:27px;background-position:-239px 0}
.delIconS{width:10px;height:10px;background-position:-366px -4px}
.seach_btn_iconB{width:24px;height:24px;background-position:-381px 0}
.d_closeBtn{width:40px;height:40px;background:url("../images/d_closeBtn.png") no-repeat}
.preNext{width:60px;height:60px;background:url("../images/index-changListBtn.png") no-repeat;display:block}
.preNext.next{background-position:0 0}
.preNext.pre{background-position:0 -60px}
.bank01,.bank02,.bank03,.bank04,.bank05,.bank06,.bank07,.bank08,.bank09,.bank10,.bank11,.bank12,.bank13,.bank14,.bank15,.bank16,.bank17,.bank18,.bank19,.bank20,.bank21,.bank22,.bank23,.bank24{background:url("../images/bank.png") no-repeat;width:154px;height:33px;overflow:hidden;display:inline-block;position:relative;z-index:9}
.bank01{background-position:0 0}
.bank02{background-position:-155px 0}
.bank03{background-position:-310px 0}
.bank04{background-position:-465px 0}
.bank05{background-position:-620px 0}
.bank06{background-position:-775px 0}
.bank07{background-position:-930px 0}
.bank08{background-position:-1085px 0}
.bank09{background-position:-1240px 0}
.bank10{background-position:-1395px 0}
.bank11{background-position:-1550px 0}
.bank12{background-position:-1705px 0}
.bank13{background-position:-1860px 0}
.bank14{background-position:-2015px 0}
.bank15{background-position:-2170px 0}
.bank16{background-position:-2325px 0}
.bank17{background-position:-2480px 0}
.bank18{background-position:-2635px 0}
.bank19{background-position:-2790px 0}
.bank20{background-position:-2945px 0}
.bank21{background-position:-3100px 0}
.bank22{background-position:-3255px 0}
.bank23{background-position:-3410px 0}
.bank24{background-position:-3565px 0}
.timeIcon{width:41px;height:72px;background:url("../images/ingIcon.gif") no-repeat;display:block}
.exchangeOff,.exchangeOn,.d_sendBox .ex_icon,.d_closedBox .ex_icon,.d_sendBox .ex_iconB,.d_closedBox .ex_iconB,.delIconEx,.modifyIconEx,.delIconExB,.modifyIconExB{background:url("../images/runIcon.png") no-repeat;overflow:hidden;display:inline-block;position:relative;z-index:9}
.exchangeOff{width:61px;height:61px;background-position:0 0;position:absolute;left:50%;top:50%;margin:-30px 0 0 -30px}
.exchangeOn{background-position:0 -62px;cursor:pointer}
.exchangeOn:hover{opacity:.9}
.d_sendBox .ex_icon,.d_closedBox .ex_icon{width:45px;height:60px}
.d_sendBox .ex_icon{background-position:-62px 0}
.d_closedBox .ex_icon{background-position:-62px -61px}
.d_sendBox .ex_iconB,.d_closedBox .ex_iconB{width:31px;height:41px}
.d_sendBox .ex_iconB{background-position:0 -124px}
.d_closedBox .ex_iconB{background-position:-32px -124px}
.delIconEx{width:18px;height:24px;background-position:-64px -122px}
.modifyIconEx{width:24px;height:24px;background-position:-83px -122px}
.delIconExB{width:20px;height:20px;background-position:-25px -166px}
.modifyIconExB{width:24px;height:24px;background-position:0 -166px}
.runSettlementBox .loadIng{width:32px;height:32px;display:block;background:url("../images/laoding.gif") no-repeat}
.d_backTop{width:50px;height:50px;display:block;background:url("../images/backTop.png") no-repeat;position:fixed;right:10px;bottom:10px;display:none}
.d_backTop:hover{opacity:.8}
.backBeforBtn{width:60px;height:60px;background:url("../images/back.gif") no-repeat;display:block}
.phoneBg{width:112px;height:215px;background:url("../images/phoneBg.png") no-repeat;position:absolute;z-index:9;right:0;bottom:0;padding:54px 0 0 50px;display:block}
.btnOrg40,.btnWhite40,.btnOrg48,.btnWhite48,.btnOrg30,.btnGrey48{height:38px;line-height:38px;padding:0 20px;display:inline-block;font-family:'Microsoft YaHei','SimSun';font-size:16px;border-radius:4px}
.btnOrg40,.btnOrg48,.btnOrg30{background:#ec7b01;border:1px solid #ec7b01;color:#fff;cursor:pointer}
.btnOrg40:hover,.btnOrg48:hover,.btnOrg30:hover{color:#fff}
.btnOrg48{height:48px;line-height:48px;font-size:18px}
.btnOrg30{height:30px;line-height:30px;font-size:12px;padding:0 10px;border-radius:0}
.btnWhite40,.btnWhite48{background:#fff;border:1px solid #ec7b01;color:#ec7b01;cursor:pointer}
.btnWhite40:hover,.btnWhite48:hover{color:#ec7b01}
.btnGrey48{height:48px;line-height:48px;font-size:18px;background:#eee;border:1px solid #eee;color:#aaa;cursor:pointer}
.btnGrey48:hover{color:#aaa}
.btnWhite48{height:48px;line-height:48px;font-size:18px}
.input40{height:28px;width:288px;padding:5px 5px;background:#fff;border:1px solid #ddd;font-size:14px}
.input40:focus{border:1px solid #ffa50f;-webkit-box-shadow:0 0 3px rgba(255,165,15,0.8);-moz-box-shadow:0 0 3px rgba(255,165,15,0.8);-o-box-shadow:0 0 3px rgba(255,165,15,0.8);-ms-box-shadow:0 0 3px rgba(255,165,15,0.8);box-shadow:0 0 3px rgba(255,165,15,0.8)}
.input40.shake{background:#ffe9e8;color:#d00}
.input40.errorInput{border:1px solid #e32e05;-webkit-box-shadow:0 0 3px rgba(227,46,5,0.8);-moz-box-shadow:0 0 3px rgba(227,46,5,0.8);-o-box-shadow:0 0 3px rgba(227,46,5,0.8);-ms-box-shadow:0 0 3px rgba(227,46,5,0.8);box-shadow:0 0 3px rgba(227,46,5,0.8)}
textarea{border:1px solid #ccc;outline:0 none;overflow:auto;resize:none}
.loginInput{width:258px;height:29px;line-height:29px;padding:2px 0 2px 40px;border:0;background:0}
.formList label{display:block;height:40px;line-height:40px;font-family:'Microsoft YaHei','SimSun';float:left;_display:inline;font-size:16px;color:#666}
.formList input{float:left;_display:inline;margin-right:10px}
.formList .con{float:left;_display:inline}
.formList .error{font-family:'Microsoft YaHei','SimSun';font-size:14px;color:#e32e05;padding-top:5px;clear:both}
.formList .voiceText{font-size:14px;color:#666;padding-top:5px;clear:both}
.formList .voiceText em{color:red}
.formList .conBox .rightIcon,.formList .conBox .errorIcon{width:18px;height:18px;overflow:hidden;display:block;float:left;margin-top:10px}
.formList .conBox .rightIcon{background:url("../images/rightIcon.png") no-repeat}
.formList .conBox .errorIcon{background:url("../images/errorIcon.png") no-repeat}
.w88{width:88px}
.w208{width:208px}
.w418{width:418px}
.d_head{background:#f9f9f9;border-bottom:1px solid #eea658;height:80px}
.d_headBox{width:980px;height:80px;margin:0 auto;position:relative;z-index:978}
.d_headBox .logo{width:310px;height:50px;overflow:hidden;float:left;display:block;margin:17px 20px 0 0;background:url("../images/logo.png") no-repeat}
.d_headBox .cityChoose{width:124px;position:absolute;bottom:15px;left:195px;text-align:center}
.d_headBox .cityChoose a,.d_headBox .cityChoose b{display:inline-block}
.d_headBox .cityChoose b{color:#ccc;padding:0 2px;font-weight:100}
.d_headBox .cityChoose a{color:#999}
.d_headBox .cityChoose a:hover{text-decoration:underline;color:#999}
.d_headBox .cityChoose a.on{color:#ec7b01}
.d_headBox .cityChoose a.on:hover{color:#ec7b01;text-decoration:none}
.d_headBox .cityChooseRun{left:0;top:25px}
.d_headBox .cityChooseRun a,.d_headBox .cityChooseRun b{font-size:16px;font-family:'Microsoft YaHei','SimSun'}
.d_headBox .noLogin,.d_headBox .inLogin{float:right;padding-top:17px}
.d_headBox .noLogin a{float:right;margin-left:20px}
.d_headBox .noLogin a:hover{opacity:.8}
.d_headBox .noLogin a.btnWhite40{margin-left:5px}
.d_headBox .inLogin .btnWhite40{float:right;border:1px solid #f9f9f9;background:#f9f9f9}
.d_headBox .inLogin .btnWhite40 .eye_icon,.d_headBox .inLogin .btnWhite40 strong{display:inline-block}
.d_headBox .inLogin .btnWhite40 .eye_icon{top:4px;*top:0}
.d_headBox .inLogin .btnWhite40 strong{font-weight:100}
.d_headBox .inLogin .btnWhite40:hover{background:#ec7b01;border:1px solid #ec7b01;color:#fff}
.d_headBox .inLogin .btnWhite40:hover .eye_icon{background-position:-273px -26px}
.d_headBox .inLogin .uesNameBox{float:right;display:block;height:40px;line-height:40px;text-align:center;padding:0 20px;position:relative;z-index:999}
.d_headBox .inLogin .uesNameBox .uesName{font-size:16px;color:#666;font-family:'Microsoft YaHei','SimSun';height:40px;line-height:40px;display:block;max-width:270px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.d_headBox .inLogin .uesNameBox .uesName:hover{color:#666}
.d_headBox .inLogin .uesNameBox .triangle_icon{width:0;height:0;border:4px solid;border-color:#666 transparent transparent transparent;border-style:solid dashed dashed dashed;margin:0 0 0 5px;position:absolute;top:20px;right:5px;overflow:hidden;display:block;-webkit-transition:-webkit-transform .2s ease-in;-moz-transition:-moz-transform .2s ease-in;-o-transition:-o-transform .2s ease-in;transition:transform .2s ease-in}
.d_headBox .inLogin .uesNameBox .iconRotate{top:15px;-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)}
.d_headBox .inLogin .useList{width:106px;padding:1px;background:#fff;border:1px solid #ec7b01;position:absolute;top:40px;right:0;overflow:hidden}
.d_headBox .inLogin .useList li{line-height:30px}
.d_headBox .inLogin .useList li a{width:91px;height:30px;line-height:30px;text-align:left;font-size:14px;color:#666;display:block;padding-left:15px}
.d_headBox .inLogin .useList li a:hover{background:#eee;color:#666}
.d_headBox .activityBanner{height:80px;display:block;float:left}
#webFooter{border-top:1px solid #ddd;padding-top:29px;background:#fff;*zoom:1}
#webFooter .webMainModel{margin:0 auto;position:relative;width:980px}
#webFooter .footerModel{float:left;width:194px;padding-left:50px;border-left:1px solid #ddd}
#webFooter .footerModel-title{font-size:16px;color:#333;height:16px;line-height:16px;overflow:hidden;padding-left:10px;font-weight:400;font-family:'Microsoft YaHei','SimSun'}
#webFooter .footerModel-list{margin-top:14px}
#webFooter .footerModel-list a{color:#777}
#webFooter .footerModel-list a:hover{color:#ef8200}
#webFooter .footerModel-list li{line-height:26px;padding-left:10px;font-size:14px}
#footer-about h3{background-position:0 -124px}
#footer-helpCenter h3{background-position:0 -86px}
#webFooter #footer-CustServer{padding-left:50px;border:0}
#webFooter .footer-serverTime h4{background-position:0 -30px}
#webFooter .footer-webCement{padding:0}
#webFooter .footer-serverTime{padding-bottom:12px}
#webFooter .footer-webCement h4{background-position:0 -59px}
#footer-CustServer li{padding-bottom:25px;position:relative;z-index:9}
#footer-CustServer h4{line-height:24px;height:24px;color:#777;font-family:'Microsoft YaHei','SimSun';font-size:18px;font-weight:400;padding-left:34px}
#footer-CustServer h4 a{color:#666}
#footer-CustServer h4 a:hover{color:#666}
#footer-CustServer img,#footer-CustServer p{margin-left:34px;display:block;color:#ef8200;font-size:18px}
#footer-CustServer .footer-serverHotline h4{margin-bottom:6px}
.footer-Copyright{text-align:center;color:#777;height:18px;line-height:18px;overflow:hidden;padding:35px 0 18px;font-size:14px}
#footer-CustServer .foot_icon{width:36px;height:37px;display:block;position:absolute;background:url("../images/foot_icon.png") no-repeat;left:-15px;top:5px}
#footer-CustServer .foot_iconA{background-position:0 0}
#footer-CustServer .foot_iconB{background-position:-36px 0}
.d_seach{height:438px;background:#19637f url("../images/seach_bg.jpg") no-repeat center top}
.d_seachNewyear{background:#398AD8}
.d_seachBox{width:980px;margin:0 auto;position:relative;z-index:998;height:370px}
.d_seachBox .d_seachMain{width:730px;float:left;margin:100px 0 0 110px;_display:inline}
.d_seachBox .d_seachMain h2{font-family:'Microsoft YaHei','SimSun';font-size:40px;color:#fff;font-weight:900;text-align:center;height:44px;line-height:44px;margin-bottom:40px;text-shadow:0 0 10px #090909}
.d_seachBox .d_seachMain .d_seachCon{width:730px;height:60px}
.d_seachBox .d_seachMain .selectBox{float:left;position:relative;z-index:990;_display:inline}
.d_seachBox .d_seachMain .selectBox .dropDown_iconBox{height:60px;width:40px;display:block;position:absolute;top:0;right:0}
.d_seachBox .d_seachMain .selectBox .dropDown_icon{position:absolute;left:50%;top:50%;margin:-4px 0 0 -8px}
.d_seachBox .d_seachMain .selectBox .positionIconB{position:absolute;right:10px;top:15px}
.d_seachBox .d_seachMain .citySelect{width:100px;height:60px;line-height:60px;background:#fff;margin-right:10px;border-radius:6px;-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.5);-moz-box-shadow:0 3px 5px rgba(0,0,0,0.5);-o-box-shadow:0 3px 5px rgba(0,0,0,0.5);-ms-box-shadow:0 3px 5px rgba(0,0,0,0.5);box-shadow:0 3px 5px rgba(0,0,0,0.5)}
.d_seachBox .d_seachMain .citySelect input{width:80px;height:60px;line-height:60px;border:0;background:#fff;font-family:'Microsoft YaHei','SimSun';font-size:20px;color:#444;padding-left:20px;border-radius:6px}
.d_seachBox .d_seachMain .citySelect .dropDown_iconBox{height:60px;width:100px;display:block;position:absolute;top:0;right:0}
.d_seachBox .d_seachMain .citySelect .dropDown_icon{position:absolute;left:50%;top:50%;margin:-4px 0 0 20px}
.d_seachBox .d_seachMain .addressSelect{width:620px;height:60px;line-height:60px;background:#fff;border-radius:6px;-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.5);-moz-box-shadow:0 3px 5px rgba(0,0,0,0.5);-o-box-shadow:0 3px 5px rgba(0,0,0,0.5);-ms-box-shadow:0 3px 5px rgba(0,0,0,0.5);box-shadow:0 3px 5px rgba(0,0,0,0.5)}
.d_seachBox .d_seachMain .addressSelect input{width:460px;height:30px;line-height:30px;border:0;background:#fff;font-family:'Microsoft YaHei','SimSun';font-size:20px;color:#444;padding:13px 40px 13px 20px;border-radius:6px}
.d_seachBox .d_seachMain .addressSelect .shake{background:#ffe9e8;color:#d00}
.d_seachBox .d_seachMain .addressSelect .searchBtn{width:90px;height:50px;text-align:center;cursor:pointer;font-family:'Microsoft YaHei','SimSun';font-size:20px;color:#fff;background:0;border:0;line-height:50px;padding:0;position:absolute;right:5px;top:5px;background:#14B8F4}
.d_seachBox .d_seachMain .addressSelect .dropDown_iconBox{right:100px}
.d_seachBox .d_seachMain .selectList{position:absolute;background:#fff;border:1px solid #ec7b01;top:57px;left:0;z-index:998;display:none}
.d_seachBox .d_seachMain .selectList li{border-bottom:1px solid #ddd;height:44px;line-height:44px;padding:1px 0}
.d_seachBox .d_seachMain .selectList li a{display:block;padding:0 20px;color:#777;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.d_seachBox .d_seachMain .selectList li a:hover{background:#eee}
.d_seachBox .d_seachMain .selectList li.lastSet span,.d_seachBox .d_seachMain .selectList li.lastSet a{float:right}
.d_seachBox .d_seachMain .selectList li.lastSet a{color:#ec7b01;padding:0 10px}
.d_seachBox .d_seachMain .selectList li.lastSet a:hover{background:#fff}
.d_seachBox .d_seachMain .selectList li.lastSet span.set_icon{top:10px}
.d_seachBox .d_seachMain .selectList li.hover a{background:#eee}
.d_seachBox .d_seachMain .selectList li.lastSet.hover a{background:#fff}
.d_seachBox .d_seachMain .selectList li:last-child{border-bottom:0}
.d_seachBox .d_seachMain .selectListCity{width:96px;padding:0 1px}
.d_seachBox .d_seachMain .selectListAddress{width:457px;padding:0 1px}
.d_seachBox .downApp{width:70px;height:70px;display:block;overflow:hidden}
.d_links{width:880px;margin:0 auto 50px;background:0;position:relative;z-index:9;padding:20px 20px 10px 80px;border-top:1px solid#ddd}
.d_links h3{height:28px;line-height:28px;position:absolute;left:0;top:50%;margin-top:-10px;text-align:right;width:80px;font-size:14px;color:#444}
.d_links ul li{float:left;padding:5px 0 5px 20px;white-space:nowrap}
.d_links ul li a{color:#777;font-size:14px}
.d_links ul li a:hover{color:#f7882e}
.moduleIndex{width:980px;margin:0 auto}
.moduleIndex h2{font-family:'Microsoft YaHei','SimSun';font-size:24px;font-weight:100;padding-bottom:15px;color:#777}
.moduleIndex h2 a{color:#ef8200;margin-left:20px;font-size:16px}
.moduleIndex h2 a:hover{text-decoration:underline}
.d_recommend{margin-bottom:30px}
.d_recommend .d_recommendBox{position:relative;z-index:9}
.d_recommend .d_recommendCon{background:#fff;overflow:hidden;position:relative;z-index:9;width:980px;height:300px}
.d_recommend .d_recommendCon ul{position:absolute}
.d_recommend .d_recommendCon li{float:left;_display:inline;width:980px;height:300px}
.d_recommend .d_recommendCon dd{width:182px;height:137px;overflow:hidden;float:left;_display:inline;margin:9px 0 0 12px}
.d_recommend .d_recommendCon dd a{width:180px;height:134px;border:1px solid #eee;display:block;color:#666}
.d_recommend .d_recommendCon dd a img{width:180px;height:135px}
.d_recommend .d_recommendCon dd a:hover{border:1px solid #ec7b01;color:#666}
.d_recommend .preNext{position:absolute;top:121px;cursor:pointer;display:none}
.d_recommend .preNext.pre{left:-70px}
.d_recommend .preNext.next{right:-70px}
.d_recommend .preNext:hover{opacity:.8}
.d_information{margin-bottom:50px}
.d_information .d_informationList{background:#fff}
.d_information .d_informationList li{width:296px;height:100px;overflow:hidden;background:#fff;padding:15px;float:left;_display:inline;cursor:pointer}
.d_information .d_informationList li a{color:#666}
.d_information .d_informationList li a:hover{opacity:.8;color:#666}
.d_information .d_informationList li img{width:100px;height:100px;overflow:hidden;float:left;_display:inline;cursor:pointer}
.d_information .d_informationList li dl{width:180px;float:right;cursor:pointer}
.d_information .d_informationList li dl dt{width:180px;font-family:'Microsoft YaHei','SimSun';overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:18px;padding-bottom:10px;color:#333}
.d_information .d_informationList li dl dd{font-size:12px;color:#666;height:55px;overflow:hidden;line-height:1.6}
.d_banner{width:980px;margin:0 auto 30px}
.d_banner .d_bannerCon{width:980px;height:80px;overflow:hidden;position:relative;z-index:9;background:#fff}
.d_banner .d_bannerCon ul{position:absolute;height:80px;z-index:8}
.d_banner .d_bannerCon ul li{width:980px;height:80px;float:left;_display:inline}
.d_banner .d_bannerCon ul li a{width:980px;height:80px;display:block;color:#666}
.d_banner .d_bannerCon ul li a img{width:980px;height:80px}
.d_banner .d_bannerCon #num{position:absolute;bottom:10px;height:10px;width:940px;text-align:right;z-index:99;padding:0 20px}
.d_banner .d_bannerCon #num span{width:10px;height:10px;background:#fff;display:inline-block;margin:0 2px;cursor:pointer;border-radius:10px}
.d_banner .d_bannerCon #num span.on{background:#ff9645}
.d_whiteBg{background:#fff;border-bottom:1px solid #ddd}
.d_headBox_index .d_head{height:70px;background:0;border-bottom:0}
.d_headBox_index .d_head .d_headBox{height:70px}
.d_headBox_index .d_headBox .logo{width:305px;height:70px;padding-top:0;margin-top:10px;display:block;background:url("../images/logo.png") no-repeat}
.d_headBox_index .cityChoose{left:188px;font-size:14px;bottom:10px;text-align:left;}
.d_headBox_index .cityChoose a{color:#fff}
.d_headBox_index .cityChoose a:hover{color:#fff}
.d_headBox_index .QQ_icon,.d_headBox_index .WB_icon,.d_headBox_index .WX_icon,.d_headBox_index .inLogin .btnWhite40 .eye_icon,.d_seachBox_index .d_seachMain .selectBox .dropDown_icon{height:31px;background:url("../images/thirdparty_index.png") no-repeat}
.d_headBox_index .QQ_icon{background-position:0 0;width:29px}
.d_headBox_index .WB_icon{background-position:-30px 0;width:38px}
.d_headBox_index .WX_icon{background-position:-69px 0;width:35px}
.d_headBox_index .noLogin a{margin-left:15px}
.d_headBox_index .noLogin a.btnOrg40{background:#14B8F4;border:0}
.d_headBox_index .noLogin a.btnWhite40{background:0;border:0;color:#fff}
.d_headBox_index .inLogin .uesNameBox .uesName,.d_headBox_index .inLogin .uesNameBox .uesName:hover{color:#fff}
.d_headBox_index .inLogin .uesNameBox .uesName{max-width:270px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.d_headBox_index .inLogin .uesNameBox .triangle_icon{border-color:#fff transparent transparent transparent;border-style:solid dashed dashed dashed}
.d_headBox_index .inLogin .btnWhite40{background:0;border:0;color:#fff}
.d_headBox_index .inLogin .btnWhite40:hover{border:0;color:#fff;background:#f5a22d}
.d_headBox_index .inLogin .btnWhite40 .eye_icon,.d_headBox_index .inLogin .btnWhite40:hover .eye_icon{width:30px;height:18px;background-position:-106px 0}
.d_headBox .inLogin .useList{background:#fff;border:0;-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.5);-moz-box-shadow:0 3px 5px rgba(0,0,0,0.5);-o-box-shadow:0 3px 5px rgba(0,0,0,0.5);-ms-box-shadow:0 3px 5px rgba(0,0,0,0.5);box-shadow:0 3px 5px rgba(0,0,0,0.5)}
.d_seachBox_index .d_seachMain{margin-top:85px}
.d_seachBox_index .d_seachMain .selectBox .dropDown_icon{width:18px;height:10px;background-position:-154px 0}
.d_seachBox_index .d_seachMain .selectList{border:0;-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.5);-moz-box-shadow:0 3px 5px rgba(0,0,0,0.5);-o-box-shadow:0 3px 5px rgba(0,0,0,0.5);-ms-box-shadow:0 3px 5px rgba(0,0,0,0.5);box-shadow:0 3px 5px rgba(0,0,0,0.5)}
.d_seachBox_index .d_seachMain .selectListCity{width:98px;top:62px}
.d_seachBox_index .d_seachMain .selectListAddress{top:62px;width:517px}
.d_navBox{width:100%;height:160px;background:#f9f9f9;-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);-o-box-shadow:2px 2px 2px rgba(0,0,0,0.2);-ms-box-shadow:2px 2px 2px rgba(0,0,0,0.2);box-shadow:2px 2px 2px rgba(0,0,0,0.2);margin-bottom:25px}
.d_navBox .d_navCon{width:900px;height:160px;margin:0 auto;padding-left:80px}
.d_navBox .d_navCon li{width:120px;float:left;margin-right:20px}
.d_navBox .d_navCon li a{width:120px;text-align:center;display:block;height:135px;padding-top:25px}
.d_navBox .icon{width:80px;height:80px;display:block;margin:0 auto 10px;background:url("../images/navBox_index.png?2") no-repeat}
.d_navBox .d_navCon li a em{font-size:16px;color:#777}
.d_navBox a .appIcon{background-position:0 0}
.d_navBox a .vipIcon{background-position:-162px 0}
.d_navBox a .runIcon{background-position:-324px 0}
.d_navBox a .reviewIcon{background-position:-486px 0}
.d_navBox a .giftIcon{background-position:-648px 0}
.d_navBox a .focusIcon{background-position:-810px 0}
.d_navBox a:hover .appIcon{background-position:-81px 0}
.d_navBox a:hover .vipIcon{background-position:-243px 0}
.d_navBox a:hover .runIcon{background-position:-405px 0}
.d_navBox a:hover .reviewIcon{background-position:-567px 0}
.d_navBox a:hover .giftIcon{background-position:-729px 0}
.d_navBox a:hover .focusIcon{background-position:-891px 0}
.d_navBox .layerD{position:relative;z-index:20}
.d_navBox .layerD .layerBox{padding:10px 0;position:absolute;bottom:175px;right:-10px;background:#fff;-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.5);-moz-box-shadow:0 3px 5px rgba(0,0,0,0.5);-o-box-shadow:0 3px 5px rgba(0,0,0,0.5);-ms-box-shadow:0 3px 5px rgba(0,0,0,0.5);box-shadow:0 3px 5px rgba(0,0,0,0.5);border-radius:6px;width:290px;display:none}
.d_navBox .layerD .layerBox a{width:auto;height:auto;padding:0;display:block;float:left}
.d_navBox .layerD .layerBox a.xlLink{width:146px}
.d_navBox .layerD .layerBox a.wxLink{width:144px}
.d_navBox .layerD .layerBox .arrow_c{border:8px solid;border-color:#fff transparent transparent transparent;border-style:solid dashed dashed dashed;position:absolute;bottom:-16px;right:60px}

.index-welcome{float:right;margin:10px 0 0 0;color:#fff;font-size:14px;}
.index-welcome a{color:#fff;}
