@import url(../base.css);



.body_top{background:#735F2C;}
.topmenu ul li.current a{background:#daa726;}

.but33{background:#daa726 !important;}


.but,.but2{background:#daa726 !important;border:1px solid #daa726;}

.tab_box a{background:#daa726 !important;}