

html {

  line-height: 1.6;

}

body {

  color: #5a5a5a;

  font-family: Microsoft YaHei,simsun,Verdana,Geneva,sans-serif;

  margin: 0 auto !important;

  max-width: 480px;

  min-width: 310px;

  padding: 0;

}

img {

  max-width: 100%;

  vertical-align: middle;

  border:none

}

a {

  color: #4b4b4b;

  text-decoration: none;

}

a:focus, a:hover {

  color: #3b3b3b;

}

p {

  margin: 0;

}

ul, li {

  list-style: outside none none;

  margin: 0;

  padding: 0;

}

.z_1 {

  background: #00641a;

}

.z_1 a{

	color: #fff

}

nav {

  color: #fff;

  height: 31px;

  margin: 0 auto;

  width: 85%;

}

nav a {

  color: #fff;

  font-size: 1.1em;

  font-weight: 600;

  padding: 0 3% 0;

}

nav a:hover{

  color: #eee

}

*:focus{

  outline:none;

}

.z_2 {

  position: relative;

}

.z_t {

  bottom: 0;

  position: absolute;

  right: 0;

  width: 100%;

}

.z_t p {

  line-height: 1.3;

  margin: 18px;

  text-align: center;

}

.z_t2 {

  color: #e60012;

  font-size: 2.063em;

  letter-spacing: 38px !important;

  margin: 8px 0;

  padding-left: 14px;

}

.z_t span {

  color: #e60012;

  letter-spacing: 36px;

  margin-right: -14px;

  padding-left: 16px;

}

.z_nav {

  background: #fff100;

  box-shadow: 0 3px 6px #000;

  color: #000;

  font-size: 1.5em;

  font-weight: bold;

  letter-spacing: 1px;

  text-align: center;

}

video{

	width: 100%

}

.z_3 {

  margin: 2% 0;

}

.z_3 p {

  padding: 0 2%;

  text-indent: 2em;

}

.z_4 {

  background: #f39700;

  color: #fff;

  font-size: 1.1em;

  padding: 3% 2%;

}

.z_4 p {

  font-weight: bold;

  padding: 3px 0;

    color:#fff;

}

.z_5 {

  background: #048010;

  padding: 0 2%;

}

.z_c1 {

  border-bottom: 1px solid #fff;

  color: #fff;

  font-size: 2.4em;

  font-weight: bold;

}

.z_c2 {

  color: #fff;

  font-size: 1.6em;

  font-weight: bold;

  padding: 6px 0;

  text-align: center;

}

.z_c2 p{

    color: #fff;

}

.z_c3 {

  color: #ffff00;

}

.z_t3 img{

  width:210px;

}

.z_c4 {

  background: #ffff00;

  border-radius: 6px;

  color: #000;

  font-size: 26px;

  font-weight: normal;

  padding: 0 6px;

}

.z_7 {

  padding: 0 2%;

  margin-bottom: 15px

}

.z_7 h4 {

  color: #a40000;

  margin-bottom: 0;

}

.z_8 h4 {

  background: #a40000;

  color: #fff;

  font-size: 1.2em;

  font-weight: normal;

  margin: 8px 0;

  padding: 0 6px;

  width: 336px;

}

.z_8 h2 {

  color: #a40000;

  font-size: 1.5em;

  font-weight: normal;

  margin: 6px 0 0;

  padding-left: 1%;

}

.z_a1 {

  margin: 0 auto 20px;

  width: 98%;

}

.z_a2 {

  float: left;

  padding-right: 11px;

}

.z_red {

  background: #e60012;

  box-shadow: 0 3px 6px #000;

  color: #fff;

  font-size: 1.6em;

  font-weight: bold;

  letter-spacing: 4px;

  text-align: center;

}

.z_9 {

  background: #eb6100;

  padding: 9px 5%;

}

.z_9 h4 {

  color: #ffff00;

  font-size: 1.3em;

  margin: 0;

  text-align: center;

}

.z_9 p {

  color: #ffff00;

  font-size: 1.1em;

}

.mf_form_1 {

  line-height: 150%;

  padding: 7px;

}

.mf_form_1 strong {

  color: #2d2d2d;

}

.mf_form_2 {

  color: #2d2d2d;

  font-size: 120%;

  font-weight: 500;

  margin: 15px 10%;

}

.mf_form_3,.mf_form_4 {

  color: #343434;

  line-height: 1.6;

  margin: 0 0 6%;

  resize: none;

  vertical-align: middle;

}

.mf_form_3 input[type="text"]{

  background: #e5e5e5;

  border: 1px solid #a0a0a0;

  font-size: 0.813em;

  height: 24px;

  width: 72%;

}

select{

  background: #e5e5e5;

  border: 1px solid #a0a0a0;

  font-size: 0.813em;

  height: 24px;

  width: 50%;

  color: #ff0000;

  font-weight: bold

}

.mf_form_3 span,.mf_form_4 span {

  color: #343434;

  margin-left: 10px;

}

.mf_form_3 label {

  font-size: 1em;

}

.mf_form_name {

  float: left;

  font-size: 1.1em;

  text-align: left;

  margin-right: 6px;

}

.mf_form_name1 {

  float: left;

  font-size: 1.1em;

  line-height: 1.2;

  margin-right: 8px;

  margin-top: 2px;

  text-align: left;

}

.mf_form_name span, .mf_form_name1 span, .mf_form_name2 span {

  color: #ff0000;

  margin: 0;

}

.z_10 {

  border: 4px solid #eb6100;

}

.z_f1, .z_f2 {

  margin: 10px auto;

  width: 92%;

}

.z_f1 p {

  color: #dd0000;

  padding: 3px 0;

}

.z_sub {

  margin: 30px 0;

  text-align: center;

}

#sub1 {

  background: #e60012;

  border: medium none;

  border-radius: 6px;

  color: #fff;

  font-size: 1.6em;

  padding: 2px 10px;

  text-align: center;

  width: 38%;

}

#demo {

  background: #999999;

  color: #fff;

  font-size: 0.9em;

  padding: 5px 10px;

}

.z_11 {

  bottom: -1px;

  margin: 0 auto;

  position: fixed;

  z-index: 99999;

}

.w-data {

    padding-bottom: 80px;

}
@media (max-width: 425px) {
.z_t p {
    line-height: 1.3;
    margin: 15px;
    text-align: center;
}
.z_t2 {
    color: #e60012;
    font-size: 2.063em;
    letter-spacing: 31px !important;
    margin: 8px 0;
    padding-left: 10px;
}
}
@media (max-width: 414px) {

nav a {

  padding: 0 2% 0;

}

nav {

  width: 89%;

}

.z_t3 img{

  width:188px;

}

.z_t p {

  margin: 14px;

}

.z_t2 {

  font-size: 1.8em;

  letter-spacing: 32px !important;

  padding-left: 7px;

}

.z_c1 {

  font-size: 2em;

}

.z_c4 {

  font-size: 22px;

}

}

@media (max-width: 400px) {

nav {

  width: 92%;

}

.z_t2 {

  font-size: 1.7em;

  letter-spacing: 30px !important;

}

.z_t3 img {

  width: 180px;

}

}

@media (max-width: 375px) {

nav {

  height: 26px;

  padding: 3px 0;

  width: 90%;

}

nav a{

  font-size: 1em

}

.z_t3 img {

  width: 166px;

}

.z_t2 {

  font-size: 1.6em;

  letter-spacing: 30px !important;

}

.z_c1 {

  font-size: 1.8em;

}

.z_c4 {

  font-size: 21px;

}

.z_c2 {

  color: #fff;

  font-size: 1.4em;

}

.z_8 h2 {

  font-size: 1.4em;

}

.z_8 h4 {

  font-size: 1.1em;

  width: 308px;

}

.z_a1 p{

  font-size: 0.95em

}

#sub1 {

  width: 46%;

}

}

@media (max-width: 360px) {

nav a {

  font-size: 0.95em;

}

nav {

  width: 89.5%;

}
.z_t p {

  margin: 13px;

}
.z_t3 img {

  width: 156px;

}

.z_t2 {

  letter-spacing: 28px !important;

}

.z_nav {

  font-size: 1.4em;

}

.z_8 h2 {

  font-size: 1.3em;

  font-weight: bold

}

}

@media (max-width: 340px) {

nav {

  width: 95%;

}

.z_t2 {

  font-size: 1.5em;

  letter-spacing: 26px !important;

}

.z_t3 img {

  width: 152px;

}

.z_4 {

  font-size: 1em;

}

.z_3 p,.z_7 p {

  font-size: 0.95em

}

.z_c1 {

  font-size: 1.5em;

}

.z_c4 {

  font-size: 20px;

}

.z_c2 {

  font-size: 1.3em;

}

}

@media (max-width: 320px) {

nav {

  width: 92%;

}
.z_t p {
    margin: 12px;
}
nav a {

  padding: 0 1% 0;

}

.z_t3 img {

  width: 138px;

}

.z_t2 {

  font-size: 1.4em;

  letter-spacing: 25px !important;

}

.z_t3 img {

  width: 138px;

}

.z_nav {

  font-size: 1.3em;

}

.z_c1 {

  font-size: 1.4em;

}

.z_c4 {

  font-size: 18px;

}

.z_c2,.z_8 h2,.z_9 h4 {

  font-size: 1.2em;

}

.z_8 h4 {

  font-size: 1em;

  width: 279px;

}

.z_a1 p {

  font-size: 0.9em;

}

.z_9 p,.mf_form_name,.mf_form_name1 {

  font-size: 1em;

}

.z_f1 p,.mf_form_3 label{

  font-size: 0.95em

}

#sub1 {

  font-size: 1.4em;

}

}

@media (max-width: 310px) {

nav {

  width: 94.8%;

}

.z_t3 img {

  width: 133px;

}

.z_t2,.z_c1 {

  font-size: 1.3em;

}

.z_8 h2 {

  font-size: 1.1em;

}

.z_8 h4 {

  font-size: 0.95em;

  width: 266px;

}

}

.zs_4 {

    background: #fffcd2;

    border-radius: 8px;

    margin: 8px auto 16px;

    padding: 6px 0;

    text-align: center;

    width: 86%;

}

.zs_4 p {

    color: #e60012;

    font-size: 20px;

    font-weight: bold;

    line-height: 1.6em;

}

.zs_24 {

    margin: 15px auto;

    width: 96%;

}

.red {

    color: red;

    font-weight: bold;

}

.zs_21 {

    margin-bottom: 12px;

}

.bg_red {

    color: yellow;

    background: red;

    padding: 1px 6px;

    font-weight: bold;

}