/* Write your styles */


.pagebar{ margin:10px 10px 10px 0;float: right;}
.pagebar a,.pagebar span{display:block;height:26px;line-height:26px;margin-right:5px;border:1px solid #ccc;float:left;padding:0 10px 0 10px;}
.pagebar span{color:#000;}
.pagebar .npage{background: #069; color:#fff;}
.pagebar .npage100{background:green;color:white;}
.pagebar span{display:block;height:26px;line-height:26px;margin-right:5px;border:1px solid #ccc;float:left;padding:0 10px 0 10px;}
